:root{
    --main-bg: rgb(179, 177, 169);
    --second-bg: rgb(141, 136, 134);
    --other-elem-bg: rgb(121, 116, 116);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--main-bg);
    margin: 0;
    padding: 0;
}

.header-bg{
    background-color: var(--second-bg);
    padding: 5px;
}

.header-bg h1{
    text-align: center;
}

.header-elem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-elem img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.main-content{
    width: 85vw;
    margin: 0 auto ;
   
    display: flex;
    flex-direction: row;
}

.input-element{
    width: 20%;
    padding: 20px;
    background-color: var(--other-elem-bg) ; 
}

label{
    display: block;
}
#select-item{
    margin-bottom: 10px;
}

button{
    display: block;
    margin-top: 10px;
}

.body-content{
    background-color: rgba(245, 248, 248, 0.5);
    width: 60%;
    padding: 0;
    
}

.bc-info{
    display: flex;
}

.cont-head{
    border-right: 2px solid var(--second-bg) ;
    width: 25%;
    text-align: center;
}

#output{
    width: 100%;
    padding: 0;
}

.output-items{
    display: flex;
    align-items: center;
}

.output-elem {
    width: 25%;
    text-align: center;
    margin: auto 0;
    border-top: 2px solid var(--second-bg);
    padding: 10px 0;
}